.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  display: inline;
  font-weight: inherit;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  animation: blink 0.7s infinite;
}

.text-type__cursor--hidden {
  display: none;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
